html, body {
  height: 100%;
}
h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.main {
  padding-top: 54px;
  Display: block;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}


.arc path {
  stroke: #fff;
}

#canvas {
  height: 400px;
}

.label.series-option {
  cursor: pointer;
  line-height: 24px;
  margin: 2px 1%;
  font-size: 1em;
  font-weight: normal;
}

#query-logs .label {
  font-size: .9em;
  margin-right: 1em;
}


.chart-container .axis path,
.chart-container .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-container .line {
  fill: none;
  stroke-width: 2.5px;
}
